* {
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

table {
    align: center;
}

.top-title {
    margin-top: 20px;
}

a:hover {
    background-color: aqua;
}

.gradient {
    text-align: center;
    background-image: radial-gradient(closest-corner at 550pt 50%, white 30%, salmon 70%, red);
}

    /*background-image: linear-gradient(to right top, salmon, white, salmon);*/