{% extends 'shopapp/base.html' %}

{% block title %}
    Orders List
{% endblock %}

{% block body %}
    <h1>Orders:</h1>
    {% if object_list %}
        <div>
            {% for order in object_list %}
                <p><a href="{% url 'shopapp:order-details' pk=order.pk %}">Order #{{ order.pk }}</a></p>
                <p>Order by {% firstof order.user.first_name order.user.username %}</p>
                <div>
                    Products in order:
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }} for ${{ product.price }}</li>
                        {% endfor %}
                                        
                    </ul>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <h3>No orders yet</h3>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:order-create' %}">
            Create a new order
        </a>
    </div>
    <br>
    <br>
    <div>
        <a href="{% url 'main' %}">Вернуться на главную страницу</a>
    </div>
{% endblock %}