{% extends 'shopapp/base.html' %}
{% load i18n %}


{% block title %}
        Shop Index
{% endblock %}

{% block body %}
    <h1>{% trans 'Our shops: ' %}</h1>
    {% if shops %}
        {% for shop in shops %}
            <h2>{{ shop.name }}</h2>
            <h4>{{ shop.description }}</h4>
            <p>{% trans 'Adrress: ' %}{{ shop.adress }}</p>
            <h4>{% trans 'Products in shop: ' %}</h4>
            <p>{% for product in shop.products.all %}
                    <li>{{ product.name }}{% trans ' for $' %}{{ product.price }}</li>
                {% endfor %}
            </p>
        {% endfor %}
    {% else %}
    <h2>{% trans 'No shops yet' %}</h2>
    {% endif %}
    <br>
    <br>
    <div>
        <a href="{% url 'main' %}">{% trans 'Back to main' %}</a>
    </div>
{% endblock %}
