<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Base Title
        {% endblock %}
    </title>
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'userapp:account' pk=user.pk %}">Просмотреть аккаунт</a></p>
        <a href="{% url 'userapp:logout' %}">Выйти</a>
    {% else %}
        <h2>Вы неавторизованы на нашем сайте</h2>
        <a href="{% url 'userapp:login' %}">Войти</a>
        <a href="{% url 'userapp:register' %}">Зарегестрироваться</a>
    {% endif %}
</head>
<body>
        {% block body %}
        Base Body
        {% endblock %}
        <br>
        <br>
        <div>
            <a href="{% url 'main' %}">Вернуться на главную страницу</a>
        </div>

        <br>
        <br>

        <div>
            {% now 'H:i' %}
        </div>

        <div>
            {% now 'l' as current_weekday %}
            Today is {{ current_weekday }}
        </div>
</body>
</html>