{% extends 'newsapp/base.html' %}

{% block title %}
    News list
{% endblock %}

{% block body %}
    <h1>Новости:</h1>
    {% if news %}
        <div>
        {% for new in news %}
            <p><h3><a href="{% url 'newsapp:news-details' pk=new.pk %}">{{ new.title }}</a></h3></p>
            <p>Автор: {% firstof new.user.first_name new.user.username %}</p>
            <br>
        {% endfor %}

        </div>
    {% else %}
        <h3>Ещё нет новостей</h3>
    {% endif %}
    <br>
    <br>
    <div>
        <a href="{% url 'newsapp:news-create' %}">
            Создать новость
        </a>
    </div>

{% endblock %}
