{% extends 'newsapp/base.html' %}

{% block title %}
    News Details
{% endblock %}

{% block body %}
    <div>
    <h1>Новости:</h1>
    <p>Заголовок: {{ news.title }}</p>
    <p>Описание: {{ news.text }}</p>
    <p>Автор: {{ news.user }}</p>
    <p>Время создания: {{ news.published_at }}</p>
    {% if comments %}
        <h2>Комментарии:</h2>
        {% for comment in comments %}
            <h3>Комментарий #{{ comment.pk }}</h3>
            <p>{{ comment.text }}</p>
            <p>Автор: {{ comment.user }}</p>
            <p>Дата публикации: {{ coment.published_at }}</p>
        {% endfor %}
    {% else %}
        <p>Комментариев пока что нет</p>
    {% endif %}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Добавить комментарий
            </button>
        </form>
    </div>

    <div>
        <a href="{% url 'newsapp:news-list' %}">
            Вернуться к новостям
        </a>
    </div>

{% endblock %}
