{% extends 'newsapp/base.html' %}


{% block title %}
    News Details
{% endblock %}

{% block body %}
    <div>
    <p><h2>{{ news.title }}</h2></p>
    <p><h3>Описание: {{ news.text }}</h3></p>
    <p>Автор: {{ news.user }}</p>
    <p>Время создания: {{ news.published_at }}</p>
    <br>
    {% if comments %}
        <h3>Комментарии:</h3>
        {% for comment in comments %}
            {% if comment.user.id == 9 %}
            <p><h4>{{ comment.text }}</h4></p>
            <p>Опубликованно анонимно</p>
            <p>Дата публикации: {{ comment.published_at }}</p>
            {% else %}
            <p><h4>{{ comment.text }}</h4></p>
            <p>Автор: {{ comment.user }}</p>
            <p>Дата публикации: {{ comment.published_at }}</p>
            {% endif %}
            <br>
        {% endfor %}
    {% else %}
        <p>Комментариев пока что нет</p>
    {% endif %}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Добавить комментарий
            </button>
        </form>
    </div>
    <br>
    <br>

    <div>
        <a href="{% url 'newsapp:news-list' %}">
            Вернуться к новостям
        </a>
    </div>

{% endblock %}
