{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Title
        {% endblock %}
    </title>
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'userapp:account' pk=user.pk %}">Просмотреть аккаунт</a></p>
        <a href="{% url 'userapp:logout' %}">Выйти</a>
    {% else %}
        <h2>Вы неавторизованы на нашем сайте</h2>
        <a href="{% url 'userapp:login' %}">Войти</a>
        <a href="{% url 'userapp:register' %}">Зарегестрироваться</a>
    {% endif %}

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" >
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code==LANGUAGE_CODE %} selected="selected" {% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="go">
    </form>

</head>
<body>
        {% block body %}
            Base Body
        {% endblock %}

        <br>
        <br>

        <div>
            {% now 'H:i' %}
        </div>

        <div>
            {% now 'l' as current_weekday %}
            {% trans 'Сегодня: ' %}{{ current_weekday }}
        </div>
</body>
</html>