{% extends 'blogapp/base.html' %}


{% block title %}
    Create post
{% endblock %}

{% block body %}
    <h1>Create a new post</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Create
            </button>

        </form>
    </div>
    <br>
    <br>
    <div>
        <a href="{% url 'blogapp:posts-list' %}">
            Вернуться к постам
        </a>
    </div>
{% endblock %}
