{% extends 'blogapp/base.html' %}
{% load i18n %}


{% block title %}
    Post Details
{% endblock %}

{% block body %}
    <div>
    {% for image in images %}
        <p><img src="/media/{{ image.img }}" alt="Картинка блога" width="300" ></p>
    {% endfor %}
    <p><h3>{{ post.text }}</h3></p>
    <p>{% trans 'Автор: ' %}{{ post.user }}</p>
    <p>{% trans 'Время создания: ' %}{{ post.published_at }}</p>
    </div>
    <br>
    <br>

    <div>
        <a href="{% url 'blogapp:posts-list' %}">
            {% trans 'Вернуться к постам' %}
        </a>
    </div>

{% endblock %}
