{% extends 'blogapp/base.html' %}
{% load i18n %}


{% block title %}
    Create post
{% endblock %}

{% block body %}
    <h1>Create a new post</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                {% trans 'Создание' %}
            </button>

        </form>
    </div>
    <br>
    <br>
    <div>
        <a href="{% url 'blogapp:posts-list' %}">
            {% trans 'Вернуться к постам' %}
        </a>
    </div>
{% endblock %}
