{% extends 'blogapp/base.html' %}
{% load i18n %}


{% block title %}
    Upload post
{% endblock %}

{% block body %}
    <h1>{% trans 'Upload post' %}</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                {% trans 'Upload' %}
            </button>

        </form>
    </div>
    <br>
    <br>
    <div>
        <a href="{% url 'blogapp:posts-list' %}">
            {% trans 'Back to posts list' %}
        </a>
    </div>
{% endblock %}
